<!DOCTYPE html>
<html language="zh-cn">
  <head>
    {% load static %}
    <link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css" />
    <script src="https://code.jquery.com/jquery-3.6.4.min.js" type="text/javascript"></script>
    <script src="{% static 'js/WXLsearch.js' %}"></script>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>王晓黎豆瓣项目</title>
  </head>
  <body>  
    <h1>问答系统</h1>
    <div class="navigation">
        <ul class="nav">
            <li><a href="http://127.0.0.1:8000/">问答</a></li>
        </ul>
        <ul class="nav-admin">
            <li><a href="http://127.0.0.1:8000/admin">管理入口</a></li>
        </ul>
    </div>
    <div class="clear"></div>
    <form id="wxlform" action="" method="post" class="form-horizontal" role="form">
        <input id="submit2index" name="submit2index" type="button" class="form-control btn btn-success" value="新建索引">
    </form>
    <div class="tooltip">鼠标移动到这里可查看文本分析与挖掘功能提示模板
        <div class="tooltiptext">
            提示：用户可以通过以下提示语句模板使用相关功能。<br />
            词性标注：[文本内容]<br />
            实体识别：[文本内容]<br />
            词云分析：[文本内容]<br />
            请注意：针对上述功能，机器人默认“中文冒号”后面的文本内容为需要处理的文本内容。<br />
            文本分类：上传数据集<br />
            文本聚类：上传数据集<br />
            请注意：用户需要按照机器人的提示上传数据集。<br />
        </div>
    </div>
       <form id="wxlform" action="" method="post" class="form-horizontal" role="form">
        <input id="submit2index" name="submit2index" type="button" class="form-control btn btn-success" value="新建索引">
        <input id="upload_image" name="upload_image" type="button" class="form-control btn btn-primary" value="上传图片">
    </form>
    <!-- 添加图片上传表单 -->
    <form action="" id="upload_image_form" enctype="multipart/form-data" hidden>
        {% csrf_token %}
        <input type="file" name="imagefile" id="imagefile" accept="image/*" required>
        <input id="submit_image" type="submit" value="确认上传">
    </form>

    <form action="" id="upload_excelfile_form" enctype="multipart/form-data"
          id="form_upload" hidden>
        {% csrf_token %}
        <input id="analysis_type" type="hidden">
        <input id="excelfile_name" type="hidden">
        <p>只接受excel表格，表格表头为（"text","label"）</p>
        <p><input type="file" name="excelfile" id="excelfile" accept="application/vnd.ms-excel, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet" required></p>
        <p><input id="submit2upload" type="submit" name="上传"></p>
    </form>
    <div class="container">
        <div class="content">
            <div class="item item-left">
              <div class="avatar avatar-bot"></div>
              <div class="bubble bubble-left">您好！我是LitBot，很高兴为您服务。</div>
            </div>
        </div>
        <div class="input-area">
            <textarea name="text" id="chattextarea"></textarea>
            <div class="button-area">
                <button id="chatbotsendbtn">发送</button>
                <button id="deepseekbtn">deepseek</button>
                <button id="vqabtn">视觉问答</button>
            </div>
        </div>
    </div>
  </body>  
</html>