body { 
	color: black; 
	background: lightblue; 
	padding: 0 5em; 
	margin:0
}
h1 {
	padding: 1em 1em;
	background: lightyellow;
}
p { 
	margin: 1em 0;
}

/*导航栏*/
ul.nav{
    list-style: none;
    margin: 0px;
    padding: 0px;
    width: auto;
}
ul.nav li{
    float: left;
    margin-top: 10px;
    padding: 10px;
    border-style: solid;
    border: 1px solid;
    background-color: lightgray;
}
ul.nav-admin{
    list-style: none;
    margin: 0px;
    padding: 0px;
    width: auto;
}
ul.nav-admin li{
    float: right;
    margin-top: 10px;
    padding: 10px;
    border-style: solid;
    border: 1px solid;
    background-color: lightgray;
}
.clear {
    clear: both;
}

/*问答页面*/
.content{
    width: calc(100% - 40px);
    padding: 20px;
    overflow-y: scroll;
    flex: 1;
    background-color: gray;
}
.content:hover::-webkit-scrollbar-thumb{
    background:rgba(0,0,0,0.1);
}
.bubble{
    max-width: 400px;
    padding: 10px;
    border-radius: 5px;
    position: relative;
    color: #000;
    word-wrap:break-word;
    word-break:normal; 
}
.item-left .bubble{
    margin-left: 15px;
    background-color: #fff;
}
.item-left .bubble:before{
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-top: 10px solid transparent;
    border-right: 10px solid #fff;
    border-bottom: 10px solid transparent;
    left: -20px;
}
.item-right .bubble{
    margin-right: 15px;
    background-color: #9eea6a;
}
.item-right .bubble:before{
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-left: 10px solid #9eea6a;
    border-top: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid transparent;
    right: -20px;
}
.item{
    margin-top: 15px;
    display: flex;
    width: 100%;
}
.item.item-right{
    justify-content: flex-end;
}
.item.item-center{
    justify-content: center;
}
.item.item-center span{
    font-size: 12px;
    padding: 2px 4px;
    color: #fff;
    background-color: #dadada;
    border-radius: 3px;
    -moz-user-select:none; /*火狐*/
    -webkit-user-select:none; /*webkit浏览器*/
    -ms-user-select:none; /*IE10*/
    -khtml-user-select:none; /*早期浏览器*/
    user-select:none;
}
.input-area{
    border-top:0.5px solid #e0e0e0;
    min-height: 80px;
    display: flex;
    flex-flow: column;
    background-color: #fff;
}
textarea{
    flex: 1;
    padding: 5px;
    font-size: 14px;
    border: none;
    cursor: pointer;
    overflow-y: auto;
    overflow-x: hidden;
    outline: none;
    resize: none;
    min-height: 60px;
}
.button-area{
    display: flex;
    height: 20px;
    margin-right: 10px;
    line-height: 40px;
    padding: 5px;
    justify-content: flex-end;
}
.button-area button{
    width: 80px;
    border-radius: 4px;
    float: right;
    cursor: pointer;
}
.avatar-bot{
    background-image: url("../images/bot.jfif");
    width: 50px;
    background-size: 50px;
    background-repeat: no-repeat;
}
.avatar-user{
    background-image: url("../images/cat.png");
    width: 50px;
    background-size: 50px;
    background-repeat: no-repeat;
}

/*索引按钮*/
#submit2index{
    min-height: 40px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
    border-style: solid;
    border: 1px solid;
    background-color: lightgray;
    cursor: pointer;
}
/*词性识别、实体识别提示文本*/
.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 400px;
    background-color: white;
    color: black;
    text-align: left;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 150%;
    left: 50%;
    margin-left: -60px;
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: black transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}
