#define IDM_NEW 1
#define IDM_SAVE 2
#define IDM_EXIT 3

MyMenu        MENU
BEGIN
    POPUP "&File"
    BEGIN
        MENUITEM "&OPEN", IDM_NEW
        MENUITEM "", , 0x0800 /*MFT_SEPARATOR*/
        MENUITEM "Save &As", IDM_SAVE
        MENUITEM "E&xit", IDM_EXIT
    END
END


