#define IDM_SELECTFONT                  1
#define IDM_EXIT                        3

MYMENU MENU DISCARDABLE 
BEGIN
    POPUP "选择"
    BEGIN
        MENUITEM "选择字体",                    IDM_SELECTFONT
        MENUITEM "退出",                        IDM_EXIT
    END
END


