#define IDR_MAIN                             101
#define IDR_CHILDTEXT                   102
#define IDR_CHILDGRAPHICS           103
#define IDM_GRAPHICS                     40001
#define IDM_TEXT                             40002
#define IDM_NEWTEXT                      40003
#define IDM_NEWGRAPHICS              40004
#define IDM_CLOSE                            40005
#define IDM_EXIT                               40006
#define IDM_TILEHORZ                       40007
#define IDM_TILEVERT                        40008
#define IDM_CASCADE                         40009

IDR_MAIN MENU DISCARDABLE 
BEGIN
    POPUP "文件"
    BEGIN
        MENUITEM "新文本窗口",                  IDM_NEWTEXT
        MENUITEM "新图形窗口",                  IDM_NEWGRAPHICS
        MENUITEM "退出",                        IDM_EXIT
    END
    POPUP "窗口"
    BEGIN
        MENUITEM "水平",                        IDM_TILEHORZ
        MENUITEM "纵向",                        IDM_TILEVERT
        MENUITEM "重叠",                        IDM_CASCADE
    END
END

IDR_CHILDTEXT MENU DISCARDABLE 
BEGIN
    POPUP "文件"
    BEGIN
        MENUITEM "新文本窗口",                  IDM_NEWTEXT
        MENUITEM "新图形窗口",                  IDM_NEWGRAPHICS
        MENUITEM "关闭",                        IDM_CLOSE
        MENUITEM "退出",                        IDM_EXIT
    END
    POPUP "窗口"
    BEGIN
        MENUITEM "水平",                        IDM_TILEHORZ
        MENUITEM "纵向",                        IDM_TILEVERT
        MENUITEM "重叠",                        IDM_CASCADE
    END
    MENUITEM "显示文本",                    IDM_TEXT
END

IDR_CHILDGRAPHICS MENU DISCARDABLE 
BEGIN
    POPUP "文件"
    BEGIN
        MENUITEM "新文本窗口",                  IDM_NEWTEXT
        MENUITEM "新图形窗口",                  IDM_NEWGRAPHICS
        MENUITEM "关闭",                        IDM_CLOSE
        MENUITEM "退出",                        IDM_EXIT
    END
    POPUP "窗口"
    BEGIN
        MENUITEM "水平",                        IDM_TILEHORZ
        MENUITEM "纵向",                        IDM_TILEVERT
        MENUITEM "重叠",                        IDM_CASCADE
    END
    MENUITEM "绘图",                        IDM_GRAPHICS
END

