#include "resource.h"

#define IDD_DIALOG_MAIN                 101
#define IDR_MENU_MAIN                   102
#define IDM_M                           40001
#define IDM_ML                          40002

/////////////////////////////////////////////////////////////////////////////
//
// Dialog
//

IDD_DIALOG_MAIN DIALOG DISCARDABLE  20, 10, 187, 98
STYLE DS_MODALFRAME | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "Dialog"
FONT 10, "System"
BEGIN
    DEFPUSHBUTTON   "OK",IDOK,130,77,50,14
    PUSHBUTTON      "Cancel",IDCANCEL,70,77,50,14
END

/////////////////////////////////////////////////////////////////////////////
//
// Menu
//

IDR_MENU_MAIN MENU DISCARDABLE 
BEGIN
    MENUITEM "模式对话框",                  IDM_M
    MENUITEM "非模式对话框",                IDM_ML
END