#define MYBITMAP 1
MYBITMAP BITMAP "gc121.bmp"
#define IDD_DIALOG1 101
IDD_DIALOG1 DIALOGEX 6,6,194,106
CAPTION "Right-Click Menu Example"
FONT 8,"MS Sans Serif"
STYLE 0x10CF0800
EXSTYLE 0x00000000
BEGIN
  CTEXT "Right-Click Menu Example\r\n(Code snippets from LordRhesus)\r\n\r\nBrought to you by:\r\ngscundiff@home.com", -1, 28, 26, 128, 43
END
