#define IDM_SELECTCOLOR                 1
#define IDM_EXIT                        3

MYMENU MENU DISCARDABLE 
BEGIN
    POPUP "选择"
    BEGIN
        MENUITEM "选择颜色",                    IDM_SELECTCOLOR
        MENUITEM "退出",                        IDM_EXIT
    END
END
