#include "resource.h"
//ID值定义
#define		IDD_Caption		129			
#define		IDCANCEL		2
#define		IDOK			1
#define		IDC_Caption		1000			
#define		IDC_STATIC		-1
//对话框风格和子窗口控件定义
IDD_Caption DIALOG DISCARDABLE  100, 100, 173, 60
STYLE DS_MODALFRAME | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "标题栏文字"
FONT 10, "System"
BEGIN
    DEFPUSHBUTTON   "取消(&C)", IDCANCEL,106,39,37,13,WS_GROUP
    EDITTEXT        IDC_Caption,12,21,146,12,ES_AUTOHSCROLL
	LTEXT			"请在此处输入标题栏文字：",IDC_STATIC,11,11,105,9
    DEFPUSHBUTTON   "确定(&K)",IDOK,55,39,37,13,WS_GROUP
END

